body {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid 1px;
    border-radius: 14px;
    background-color: bisque;
    

}

#title {

    font-size: 40px;
    text-align: center;
}

#descrition {

    font-size: 30px;
    text-align: center;
}


#products {

    font-size: 25px;
    text-align: center;
}
div {
    text-align: center;
}


